@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:wght@100..900&family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.item {
  margin-top: 24px;
  background-color: rgba(246, 246, 254, 1);
  padding: 16px;
  border-radius: 8px;
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

.item-list {
  gap: 8px;
}

.item-list li {
  margin-top: 16px;
  border: rgba(128, 128, 128, 1) 1px solid;
  border-radius: 4px;
  padding: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  max-width: 1128px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-item img {
  /* max-height: 300px;
  max-width: 360px; */
  width: 100%;
  height: 100%;
}

input {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding: 8px 16px;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input:hover {
  border: 1px solid #000;
}

input:active,
input:focus,
input:focus-visible {
  border: 1px solid #808080;
}

button {
  background: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: Montserrat;
}

button:hover {
  background: #6c8cff;
}

#name-input {
  width: 360px;
}

h1:has(> span#name-output) {
  margin: 0;
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  max-width: 360px;
}

.login-form label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  input {
    width: 100%;
  }
}

.login-form button {
  margin-top: 8px;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0 auto;
  align-items: center;
}

.change-color {
}
